<style title="local">
#crn-input-icon-42571 { 
  border: 1px solid rgb(95, 170, 202);
  border-radius: 20px;
  color: rgb(67, 67, 67);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#crn-input-icon-21941 { 
  border: 1px solid rgb(95, 170, 202);
  border-radius: 20px;
  color: rgb(67, 67, 67);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10px;
}
</style>
<ion-view class="pane" style=""> 
  <ion-content data-component="crn-ion-content" class="scroll-content" style="background-image: url(&quot;assets/tela login.png&quot;); position: relative;"> 
    <img alt="{{'Accessibility.Login.Logo.Alt' | translate}}" src="assets/logo-pharma-manager cor.png" class="center-block" style="object-fit: cover;
  width: 200px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;" xattr-position="center-block" width="100%" height="" object-fit="object-fit: cover;" data-component="crn-image" id="crn-image-284883"><div style="height: 20px;" data-component="crn-spacer" id="crn-spacer-970918">&nbsp;</div>
    <div class="item item-input" data-component="crn-input-icon" id="crn-input-icon-42571" style="width: 300px; top: 0px;"> 
      <input aria-label="Search" type="text" placeholder="Usuário" ng-model="vars.username" mask="" keyboard="" style="position: relative; left: 2px; top: 0px; background-color: transparent;" class="col-xs-6">
    </div>
    <div class="item item-input" data-component="crn-input-icon" id="crn-input-icon-21941" style="width: 300px;"> 
      <input aria-label="Search" type="password" placeholder="Senha" ng-model="vars.password" mask="" keyboard="" style="position: relative; left: 1px;" class="col-xs-7">
    </div>
    <button role="button" aria-label="{{'Login.view.Login' | translate}}" class="button component-holder button-positive button-medium button-full" type="button" ng-click="cronapi.client('js.blockly.auth.Login.login').names('0d5a70ab', '1b7d6238', '98e8711e').run(vars.username, vars.password, null)" data-component="crn-button" id="crn-button-24741" xattr-fullsize="button-full" xattr-theme="button-positive" ng-disabled="false" crn-skin="" style="background-color: rgb(95, 170, 202); color: rgb(255, 255, 255); border-radius: 20px; letter-spacing: 2px; font-weight: bold; object-fit: cover; text-align: center; display: block; margin-left: auto; margin-right: auto; top: 17px; width: 300px;" xattr-size=""> <i class=""></i> <span style="color: rgb(255, 255, 255); text-transform: uppercase;">{{"Login.view.Login" | translate}}</span> </button>
  </ion-content> 
</ion-view>