<div id="starter" ng-init="" ng-destroy="" data-component="crn-start" screen-params=""><style title="local">
#crn-textinput-283724 { 
  border-radius: 20px;
  background-color: transparent;
  letter-spacing: 0px;
  height: 45px;
  top: 4px;
  border: 1px solid rgb(95, 170, 202);
}

#crn-textinput-343947 { 
  background-color: transparent;
  border-radius: 20px;
  top: 11px;
  height: 45px;
  border: 1px solid rgb(95, 170, 202);
}

div#crn-textinput-283724 input.form-control { 
  border: 1px none rgb(95, 170, 202);
  border-radius: 20px;
}

div#crn-textinput-343947 input.form-control { 
  border-bottom: 0px;
  color: rgb(128, 128, 128);
}

#crn-button-838011 { 
  width: 200px;
  text-align-last: center;
}
</style><div class="bg">
<div class="container-full" data-container="true">
    <div class="container-fluid" data-container="true" style="background-color: rgb(255, 255, 255); background-image: url(&quot;public/assets/tela login.png&quot;);" crn-skin="css/skins/farmacia.css">
        <div class="row component-holder">
            <div class="col-xs-12 col-sm-3 col-lg-4" data-container="true"></div>
            <div class="col-xs-12 col-sm-6 col-lg-4 login-panel login-view" data-container="true" style="margin-top: 0px; box-shadow: none; background-color: transparent;">
                <form class="form-validation" autocomplete="off" name="form" ng-submit="login()" role="form">
                    <input type="hidden" name="csrf_token" value="CIwNZNlR4XbisJF39I8yWnWX9wX4WFoz" class="col-md-12">
                    <div class="text-danger wrapper text-center col-md-12" ng-show="authError"></div>
                    <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-image" id="crn-image-823921">
                        <h1>
                            <img alt="Login" src="img/logo-pharma-manager.png" class="" style="display:block; width:60%; height:auto; margin-left:auto; margin-right:auto;" xattr-position="margin-left:auto; margin-right:auto;" data-component="crn-image">
                        </h1>
                    </div>
                    <div class="col-xs-10 col-md-8 col-md-push-2 col-xs-push-1" data-container="true">
                        <ul class="list-inline center-block text-center">
                        </ul>
                    </div>
                                        <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-textinput" id="crn-textinput-283724" style="input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { 
 
    background: transparent;
}">
                        <div class="form-group">
                            
                            <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="username.value" class="form-control k-textbox" id="input7274" placeholder="Usuário" autocomplete="username" autocorrect="off" autocapitalize="off">
                        </div>
                    </div>
                    <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-textinput" id="crn-textinput-343947" style="input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    background: none;
}">
                        <div class="form-group">
                            
                            <input type="password" mask="" mask-placeholder="" ng-required="false" ng-model="password.value" class="form-control k-textbox" id="input9836" autocomplete="current-password" placeholder="Senha" style="top: -1px;">
                        </div>
                    </div>
                    <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-enterprise-checkbox" id="crn-enterprise-checkbox-889238">
                    </div>
                    <div class="component-holder ng-binding ng-scope col-md-12" data-component="crn-button">
                        <div class="messages col-md-12">
                            <div ng-show="message.error" class="help-block" data-container="true" style="">
                                {{message.error}}
                            </div>
                        </div>
                        
                    </div><button role="button" aria-label="{{'Login.view.Login' | translate}}" class="btn btn-default col-xs-12 k-button btn-primary col-md-12 btn-block" type="submit" ng-disabled="form.$invalid || vm.dataLoading" ng-click="" xattr-size="" xattr-fullsize="btn-block" xattr-theme="btn-default" xattr-disabled="" data-component="crn-button" crn-skin="" style="border: 0px;
  border-radius: 30px;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  top: 20px;
  position: relative;
  text-align:center;" ng-show="true">
                            <span>{{"Login.view.Login" | translate}} </span>
                        </button>
                </form>
            </div>
            <div class="component-holder ng-binding ng-scope col-xs-12 col-sm-12 col-lg-12" data-component="crn-button" id="crn-button-846239"></div>
            <div class="col-xs-12 col-sm-3 col-lg-4" data-container="true"></div>
        </div>
    </div><div class="col-xs-12 col-sm-3 col-lg-4" data-container="true"></div>
</div>
</div></div>