{
  "app": {
    "guid": "a0fa4ae0-bcc6-41be-b32e-8b06ab3b7a5f",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.farmacianovo",
    "artifactId": "io.cronapp.apps.farmacianovo"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "openApi": {
    "exposeEndpoints": true,
    "exposeDataSources": true,
    "exposeEntities": true,
    "exposeBlocklys": true,
    "exposeAuth": true
  },
  "security": {
    "token": "YTBmYTRhZTAtYmNjNi00MWJlLWIzMmUtOGIwNmFiM2I3YTVm",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.farmacianovo",
      "backend": "true",
      "theme": "Material",
      "availableSignup": "true",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null,
    "availableSignup": true,
    "minPasswordSize": 6,
    "failedAttempts": 4,
    "blockTime": 10,
    "idletime": 0,
    "onlyStrongPass": true,
    "dontAllowRepeatedPass": true,
    "minUpperCase": 1,
    "minDigit": 1,
    "minSpecial": 1
  },
  "email": {
    "emailResetPassword": "",
    "nameResetPassword": ""
  },
  "proxy": {
    "host": "",
    "port": ""
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "cors": "*",
  "corsMethods": "*",
  "corsHeaders": "*",
  "projectName": "Controle de Farmácia - 1",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "themeConfiguration": {
    "webTheme": {
      "themeName": "Material",
      "searchableText": "MaterialO tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "themeDescription": "O tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "imgSrc": "/rwt-resources/files-templates/theme-image--1908357970.png",
      "themePath": "node_modules/cronapp-framework-js/css/themes/material.min.css",
      "deprecated": false
    },
    "mobileTheme": {
      "themeName": "Material",
      "searchableText": "MaterialO tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "themeDescription": "O tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "imgSrc": "/rwt-resources/files-templates/theme-image--1908357970.png",
      "themePath": "node_modules/cronapp-framework-mobile-js/css/themes/material.min.css",
      "deprecated": false
    },
    "webSkin": {
      "skinPath": "src/main/webapp/css/skins/farmacia.css",
      "skinRelativePath": "css/skins/farmacia.css"
    },
    "mobileSkin": {
      "skinPath": "src/main/mobileapp/www/css/skins/farmacia.css",
      "skinRelativePath": "css/skins/farmacia.css"
    }
  },
  "saveAuditLog": 365,
  "servicesConfiguration": {
    "storeCredentials": false,
    "elasticServer": null,
    "apmServer": null,
    "cacheServer": null,
    "queueServer": null,
    "storageServer": null,
    "analyticsServer": null
  },
  "showStackTrace": true,
  "locale": "",
  "biometricAuthentication": false,
  "webLogoutRoute": "views/login.view.html",
  "mobileLogoutRoute": "views/login.view.html",
  "extraHeaders": [],
  "webMainRoute": "views/login.view.html",
  "mobileMainRoute": "views/login.view.html",
  "xframeOptions": "SameOrigin"
}