<h1 class="component-holder text-left h3 title col-md-12" xattr-position="text-left" xattr-type="h3" data-component="crn-text-component" id="crn-text-component-83581" style="font-weight: bold; color: rgb(95, 170, 202);">Dashboard</h1><div data-component="crn-icon" class="component-holder col-md-12" id="crn-icon-38381" ng-click="cronapi.callFunction('cronapi.screen.showModal').call('modal52492')" style="text-align: right;
cursor: pointer;
 float: right;
 width: 20px;">
          <i class="fa fa-question-circle" style="color: rgb(95, 170, 202);"></i></div><h1 class="title col-md-12 text-left h5" xattr-position="text-left" xattr-type="h5" data-component="crn-text-component" id="crn-text-component-625105" crn-skin="">Casos de Covid entre Setembro e Agosto de 2020.</h1><div class="component-holder ng-scope col-md-12" data-component="crn-cron-dashboard-viewer" id="crn-cron-dashboard-viewer-770598" style="margin-top: 6px;
  border-top: 6px ;"><cron-dashboard-viewer options="{&quot;dashboardCommand&quot;:&quot;cronapi.util.openDashboard('dashboards/covid-estados-set-ago.dashboard', [], { height: undefined,  showScrollbar: false,  showToolbar: false,  $element: element })&quot;,&quot;showToolbar&quot;:false,&quot;showScrollbar&quot;:false}" ng-model="vars.dashboardView2546" class=""></cron-dashboard-viewer></div>
<div class="modal fade" id="modal52492" style="">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="component-holder modal-header">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="false" id="modal30949"><h1 class="text-center title h1" xattr-position="text-center" xattr-type="h1" data-component="crn-text-component" id="crn-text-component-569170">Dashboard</h1></div>
       </div>
      </div>
      <div class="modal-body">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="true" rich-text-content="true"><p>A ferramenta de dashboard do Cronapp oferece uma ampla variedade de componentes interativos de configuração simples. Esses componentes têm a capacidade de se comunicar entre si, criando filtros dinâmicos que se adaptam automaticamente a cada interação do usuário. O resultado são painéis digitais incríveis e altamente funcionais. Saiba mais consultando nossa documentação:</p></div><a href="https://docs.cronapp.io/display/CRON2/Dashboard" class="cron-link color-default text-left col-md-12 col-lg-12 col-sm-12 col-xs-12" target="_blank" data-replace="true" link-theme="color-default" data-component="crn-anchor" id="crn-anchor-784211">Dashboard</a>
       </div>
     </div>
     <div class="modal-footer">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="false"><div class="component-holder ng-scope" data-component="crn-button" id="crn-button-216486" crn-skin="css/skins/farmacia.css"><button class="btn k-button btn-block btn-default" ng-click="cronapi.callFunction('cronapi.screen.hideModal').call('modal52492')" xattr-fullsize="btn-block" xattr-theme="btn-default" xattr-disabled=""><i class="" icon-theme=""></i> <span class="" text-theme="">Ok</span></button></div></div>
       </div>
     </div>
   </div>
 </div>
</div>
